
  <div class="product-dialog">
    <div class="close-btn-closer"></div>
    <mat-dialog-content>
      <div class="container">
        <div class="img-container">
          <div class="container">
            <img src="{{principalImage}}" alt="">
          </div>
        </div>
        <div class="details-container">
          <div class="product-right">
            <div class="product-details">
              <h2 class="mb-10">{{product?.name}}</h2>
              @if (product?.promotion) {
                <h4 class="mb-10">
                  <del>${{product?.price}}</del>
                  <span> {{product?.promotion?.discount}}% off</span>
                </h4>
                <h3 class="price mb-10">${{product?.price!-product?.price!*product?.promotion?.discount!/100}}</h3>
              }@else {
                <h3 class="price mb-10">${{product?.price}}</h3>
              }
              
              <div class="description">
                <p class="bold">Product details</p>
                <ul class="text-muted productDescription">
                  @for (cha of characteristics; track $index) {
                    <li>{{cha[0]}}: <span>{{cha[1]}}</span></li>
                  }
                </ul>
                <span style="font-size: 16px;
                font-weight: 500;
                margin-right: 10px;">Color: </span>
                <div class = "color-choose">
                  @for (unit of product?.units; track $index) {
                  
                    <div class = "color-circle" [ngStyle]="{ 'background': unit.color }" (click)="changeUnitPrincipal(unit.id)"></div>
                  }
                </div>
              </div>
            </div>
            <div class="stock">
              <p>
                <span class="text-muted text">Avalibility: </span>
                <span class="avalibility">
                  <span>In Stock</span>
                </span>
              </p>
            </div>
            <div class="product-options">
              <div class="quantity">
                <span class="text-muted">Quantity</span>
                <div class="text-muted contanier0">
                  <div class="container1">
                    <button mat-icon-button><mat-icon>remove</mat-icon></button>
                    <input type="text" class="input-number">
                    <button mat-icon-button><mat-icon>add</mat-icon></button>
                  </div>
                </div>
              </div>
              <div class="buttons">
                <button mat-icon-button (click)="addToCart(principalUnit.id)" [disabled]="principalUnit.stock==0"><mat-icon>shopping_cart</mat-icon></button>
                <button mat-icon-button routerLink="/customer/product/{{product?.id}}/{{product?.name}}" routerLinkActive="router-link-active"  (click)=" closeDialog()"><mat-icon>remove_red_eye</mat-icon></button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-dialog-content>
  </div>




