
<!-- https://lazeapostolski.com/sophia-ecommerce/assets/images/product/small/headphone1/headphone1.png -->

<div class = "card-wrapper">
    <div class = "card">
      <!-- card left -->
      <div class = "product-imgs">
        <div class = "img-display">
          <div class = "img-showcase">
            <img src = "{{principalImage}}" alt = "shoe image">
          </div>
        </div>
        <div class = "img-select">
          @for (img of principalUnit!.images!; track $index) {
            <div class = "img-item">
              <a href = "#" data-id = "1">
                <img src = "{{img}}" alt = "shoe image">
              </a>
            </div>
          }
        </div>
      </div>
      <!-- card right -->
      <div class = "product-content">
        <div class = "product-title"><h2>{{product?.name}}</h2> </div>
        <!-- <a href = "#" class = "product-link">visit nike store</a> -->
        <!-- <div class = "product-rating">
          <mat-icon>star_rate</mat-icon>
          <mat-icon>star_rate</mat-icon>
          <mat-icon>star_rate</mat-icon>
          <mat-icon>star_rate</mat-icon>
          <mat-icon>star_rate</mat-icon>
          <span>5.0(21)</span>
        </div> -->

        <div class = "product-price">
          @if (product?.promotion) {
            <h4>
              <del>${{product?.price}}</del>
              <span> {{product?.promotion?.discount}}% off</span>
            </h4>
            <h3>${{product?.price!-product?.price!*product?.promotion?.discount!/100}}</h3>
          }@else {
            <h3>${{product?.price}}</h3>
          }
        </div>

        <div class = "product-detail">
          <h2>Principal information: </h2>
          <ul>
            @for (cha of characteristics; track $index) {
              <li>{{cha[0]}}: <span>{{cha[1]}}</span></li>
            }
          </ul>
          
          <!-- cilrcle color to product -->
          <span style="font-size: 16px;
          font-weight: 500;
          margin-right: 10px;">Color: </span>
          <div class = "color-choose">
            @for (unit of product?.units; track $index) {
              
              <div class = "color-circle" [ngStyle]="{ 'background': unit.color }" (click)="changeUnitPrincipal(unit.id)"><span style="line-height: 26px; padding-left: 7px; font-weight: 900;">{{unit.stock}}</span></div>
            }
          </div>
          
        </div>

        <div class="available">
          <p>
            <span style="color: #777;
            font-size: 14px;">Avalibility: </span>
            <span style="font-size: 14px;">
              @if (principalUnit.stock==0) {
                <span style="font-size: 14px;color: red;">Out of Stock</span>
              }@else if (principalUnit.stock>0){
             
                <span style="font-size: 14px;">In Stock </span> 
              }
            </span>
          </p>
        </div>
        <div class="quantity">
          <span>Quantity</span>
          <div class="btn-text-muted">
            <div class="container">
              <button mat-icon-button [disabled]="principalUnit.stock==0"><mat-icon>remove</mat-icon></button>
              <input type="text" class="count">
              <button mat-icon-button [disabled]="principalUnit.stock==0"><mat-icon>add</mat-icon></button>
            </div>
          </div>
        </div>
        <div class="buttons">
          <button mat-button color="primary" (click)="addToCart(principalUnit.id)" [disabled]="principalUnit.stock==0">ADD TO CARD</button>
          <button mat-button color="primary" [disabled]="principalUnit.stock==0">BUY NOW</button>
        </div>

        <!-- <div class = "social-links">
          <p>Share At: </p>
          <a href = "#">
            <i class = "fab fa-facebook-f"></i>
          </a>
          <a href = "#">
            <i class = "fab fa-twitter"></i>
          </a>
          <a href = "#">
            <i class = "fab fa-instagram"></i>
          </a>
          <a href = "#">
            <i class = "fab fa-whatsapp"></i>
          </a>
          <a href = "#">
            <i class = "fab fa-pinterest"></i>
          </a>
        </div> -->
      </div>
    </div>
  </div>


  <div class="addition-information">
    <div class="container">
      <div class="product-info-container">
        <div class="specification">
          <div class="container">
            <div class="header">
              <span>Especificaciones</span>
            </div>
            <div class="body">
              <table>
                <tbody>
                  @for (s of specifications; track $index) {
                  <tr>
                    <td class="name">{{s[0]}}</td>
                    <td class="value">{{s[1]}}</td>
                  </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>
        <div class="description">
          <div class="container">
            <div class="header">
              <span>Informacion adicional</span>
            </div>
            <div class="body">
              <div class="information-product">
                <div class="information">
                  <h4><b>Ficha del producto:</b></h4>
                  <ul>
                    @for (d of description; track $index) {
                      <li>{{d}}</li>
                    }
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>