
mat-sidenav{
    background: #0f172a;
    width: 230px;
    height: 100%;
}
mat-sidenav-content{
    height: 100vh;
}
mat-toolbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.box button{
    margin: 0 5px;
}
.tool{
    margin-top: 10px;
    margin-left: 15px;
    color: #858585;
}
mat-menu{
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    button{
        padding: 10px;
        font-size: 14px;
        font-weight: 600;
        color: #858585;
    }
    

}




.navbar{
    font-family: 'Inter', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}

.top{
    margin-top: 15px;
    padding: 8px;
    margin-left: 160px;
    font-size: 30px;
    mat-icon{
        
        color: #6D8299;
    }
}
.user{
    text-align: center;
    font-weight: 800;
    margin-bottom: 50px;
    
    img{
        margin-top: 16px;
        margin-bottom: 8px;
        width: 120px;
        height: 120px;
        border-radius: 100%;
    }
    .name{
        color: white;
    }
    .mail{
        margin-top: -10px;
        color:  #697d95;
    }
}
.menu-head{
    color: #466be0;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 30px;
}
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu-item{
    margin: 0 10px 0 10px;
    display: flex;
    flex-direction: column;
    //pegar la columna a la izquierda
    flex: 1 1 50%;
    .menu-button{
        width: 100%;
        margin-bottom: 10px;
        
    }
    .menu-button span{
        color: white;
    }
    .menu-button:hover{
        background: #2c3344;
    }
    .menu-button:focus{
        background: #2c3344;
    }
}
@media (max-width: 870px) {
    .title{
        display: none;
    }
}
@media (max-width: 470px) {
    //ocultar los 2 primeros button
    .box button:nth-child(1), .box button:nth-child(2){
        display: none;
    }
    .tool{
        margin-left: 0px;
    }
    
    mat-toolbar{
        padding-right: 5px;
    }
    
}