<div class="container">
    <h2>Post Product Form</h2>
    <form [formGroup]="validateForm">

        <div class="file-upload-container">
            <label for="fileInput" class="file-upload-label">
                <span>Select a file</span>
                <input type="file" id="fileInput" accept="image/x-png,image/gif,image/jpeg,image/webp" multiple (change)="onFileSelected($event)" hidden>
                <mat-icon>add_a_file</mat-icon>
            </label>
            
            @if (selectedFiles) {
                <div class="image-preview-container">
                    @for (item of imagesPreview; track $index) {
                        
                        <div class="image-preview">
                            <h4 style="font-weight: 100;">{{ $index+1+')'}} </h4>
                            <div class="circle-image">
                                <img [src]="item" alt="Selected image" class="preview-image">
                            </div>
                        </div> 
                        
                    }
                </div>
            }
        </div>
        <div class="container1">
            <mat-form-field appearance="outline" class="form-field">
                <mat-label>Color</mat-label>
                <mat-select formControlName="color" name="color">
                <mat-option *ngFor="let color of colors" [value]="color">{{color}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="form-field">
                <mat-label >OtherPrice(Optional)</mat-label>
                <input matInput type="number"formControlName="priceModifier" >
                @if (priceModifier.invalid && priceModifier.touched) {
                    <mat-error>{{checkForErrorsIn(priceModifier,"priceModifier")}}</mat-error>
                }
            </mat-form-field>
        </div>
         <mat-form-field appearance="outline" class="form-field">
                <mat-label>Stock</mat-label>
                <input matInput type="number" placeholder="Stock" formControlName="stock" >
                @if (stock.invalid && stock.touched) {
                    <mat-error>{{checkForErrorsIn(stock,"stock")}}</mat-error>
                }
        </mat-form-field>
        
        <button mat-raised-button color="primary" type="submit" [disabled]="validateForm.invalid" (click)="addProduct()">Post</button>
    </form>
</div>


