*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    div{
        display: block;
    }
}
.example-container {
    position: relative;
    z-index: 2;
    left: 0;
    right: 0;
    overflow: hidden;
}
.mat-drawer-content{
    
    overflow: inherit;
}
  
.example-radio-group {
    display: block;
    border: 1px solid #555;
    margin: 20px;
    padding: 10px;
}

mat-sidenav {
    padding: 8px 14px;
    top: 0;
    bottom: 0;
    .close-btn{
        padding: 0;
        min-width: 0;
        width: 40px;
        height: 40px;
        flex-shrink: 0;
        line-height: 40px;
        border-radius: 50%;
        mat-icon{
            line-height: 24px;
            font-size: 22px;
            margin-left: 4px;
            margin-bottom: 5px;
        }
    }
    .divider{
        margin: 10px 0;
        border-top: 1px solid #c3c3c3;
    }
    .sidebar-item{
        flex-direction: column;
        box-sizing: border-box;
        display: flex;
        mat-accordion{
            padding: 10px 0;
            display: flex;
            mat-expansion-panel{
                width: 100%;
                box-shadow: 2px 0 2px 0 rgba(0, 0, 0, 0.1);
                border-radius: 0;
            }
            .title-sidebar-item{
                font-size: 16px;
                font-weight: 500;
                margin: 0;
                padding: 0;
            }
            mat-list{
                padding: 0px auto;
            }
        }
        
    }

}
.main-topbar{
    background-color: #222;
    .toggle{
        font-size: 20px;
        display: none;
        padding: 0;
        min-width: 0;
        width: 40px;
        height: 40px;
        line-height: 40px;
        border-radius: 50%;
        mat-icon{
            color: #ef6c00;
            margin-left: 8px;
            
        }
    }
    .container-toolbar{
        font: 500 20px/32px Roboto,Helvetica Neue,sans-serif;
        letter-spacing: normal;
        height: 64px;
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: center space-between;
        align-items: center;
        .container-left-nav{
            flex-direction: row;
            box-sizing: border-box;
            display: flex;
            .widget-text{
                
                button{
                    color: #c3c3c3;
                    font-size: 1em;
                    font-weight: 700;
                    padding: 0 20px;
                    line-height: 63px;
                    font-size: 14px;
                }
                button:hover{
                    //cambiar de color con transicion
                    background-color: #383838;
                    color: #a0a0a0;
                    transition: color 0.3s;
                }
            }
        }
        .container-right-nav{
            display: flex;
            flex-direction: row;
            box-sizing: border-box;
            
        }
        div .widget-text{
            padding: 9px 7px;
            a{
                color: #c3c3c3;
                text-decoration: none;
                font-size: 13px;
                cursor: pointer;
                mat-icon{
                    vertical-align: middle;
                    margin-right: 1px!important;
                    font-size: 23px;
                }
            }
            a:hover{
                //cambiar de color con transicion
                color: #808080;
                transition: color 0.3s;
            }
        }
        div .widget-text:not(:last-child){
            margin: 0 20px 0 -15px;
        }
    }
    @media (max-width: 959px){
        .container-toolbar{
            padding: 40px 10px;
        }
        .toggle{
            //ver el icono de hamburguesa
            margin-left: 15px;
            display: flex;  
            position: relative;
        }

    }
    @media (max-width: 768px) and (max-width: 599px){
        .container-right-nav .widget-text{
            display: none;
        }
    }
    
}
.home-header{
    background-color: #707070;
    .kuro{
        background-color: rgb(21, 193, 2);
        padding: 13px 16px;
        mat-toolbar-row{
            flex-direction: row;
            box-sizing: border-box;
            display: flex;

            .logo{
                margin-right: 20px;
                padding: 25px 0;
                a{
                    text-decoration: none;
                    img{
                        overflow-clip-margin: content-box;
                        overflow: clip;
                    }
                }
            }
            .search{
                margin-right: 20px;
                flex: 1 1 0%;
                box-sizing: border-box;
                width: 80%;
                .search-form{
                    margin-right: 20px;
                    flex: 1 1 0%;
                    box-sizing: border-box;
                    width: 80%;
                    margin: 0 auto;
                    padding: 13px 0;
                    flex-direction: row;
                    box-sizing: border-box;
                    display: flex;
                    .form-wrap{
                        white-space: nowrap;
                        zoom: 1;
                        width: 100%;
                        margin: 0;
                        position: relative;
                        background: #444;
                        background: rgba(0,0,0,.2);
                        input{
                            border-radius: 3px;
                            border: 1px #fff;
                            transition: box-shadow .3s ease-out;
                            height: 40px;
                            width: 100%;
                            max-width: 100%;
                            padding: 0 0 0 12px;
                            float: left;
                            outline: none;
                            box-shadow: none;
                        }
                        button{
                            overflow: visible;
                            position: absolute;
                            border: 0;
                            margin: 0;
                            cursor: pointer;
                            height: 100%;
                            min-width: 50px;
                            right: -15px;
                            top: 0;
                            padding: 0 35px;
                            color: #fff;
                            transition: all .25s ease-in-out;
                            text-transform: uppercase;
                            background-color: #333;
                            border-radius: 0 3px 3px 0;
                            -webkit-border-radius: 0 3px 3px 0;
                            text-shadow: 0 -1px 0 rgba(0,0,0,.3);
                            box-shadow: none;
                        }
                    }
                }
                
            }
            .call-buckep-wrap{
                flex-direction: row;
                box-sizing: border-box;
                display: flex;
                place-content: center;
                align-items: center;
                .info-message-icon{
                    flex-direction: row;
                    box-sizing: border-box;
                    display: flex;
                    place-content: center;
                    align-items: center;
                    color: #fff!important;
                    .icon{
                        flex-direction: row;
                        box-sizing: border-box;
                        display: flex;
                        mat-icon{
                            font-size: 35px;
                            display: block;
                            float: left;
                            height: 49px;
                            margin: 0 16px 0 0;
                            overflow: visible;
                        }
                    }
                    .info-text p{
                        font-size: 12px;
                        line-height: 0;
                        margin-bottom: 7px;
                    }
                    .info-text span{
                        font-size: 20px;
                    }
                    @media (max-width: 768px) and (max-width: 480px){
                        .info-text span{
                            font-size: 15px!important;
                        }
                    }
                }
                .main-menu-wraper-2{
                    color: #fff!important;
                    flex-direction: row;
                    box-sizing: border-box;
                    display: flex;
                    place-content: center space-between;
                    align-items: center;
                    padding: 0 16px 0 32px;
                    .car{
                        position: relative;
                        vertical-align: middle;
                        mat-icon{
                            background-repeat: no-repeat;
                            display: inline-block;
                            fill: currentColor;
                            height: 24px;
                            font-size: 24px;
                            width: 24px;
                        }
                        span{
                            position: absolute;
                            top: -10px;
                            left: 20px;
                            color: black;
                            font-weight: 900;
                            // height: 18px;
                            // width: 18px;
                            line-height: 20px;
                            border-radius: 50%;
                            font-size: 14px;
                        }
                    }
                    
                    .price span{
                        font-size: 15px;
                    }
                }
            }
            @media (max-width: 991px){
                .logo{
                    margin: 0 auto;
                    padding: 0;
                }
                .search{
                    margin-right: 0;
                    flex: 1 1 1e-9px;
                    box-sizing: border-box;
                    margin-bottom: 20px;
                }
                .search-form{
                    padding: 0;
                }
            }
            @media (max-width: 768px) and (max-width: 649px){
                
                .search{
                    width: 105%;
                    padding: 0;
                }
            }
        }
        @media (max-width: 991px){
            mat-toolbar-row{
                height: 100%!important;
                padding: 15px!important;
                flex-direction: column;
            }
        }
        
    }
}

.menu-container{
    background: #f3f3f3;
    .container-toolbar{
        flex-direction: row;
        box-sizing: border-box;
        display: flex;
        place-content: center space-between;
        align-items: center;
        .main-menu{
            flex-direction: row;
            box-sizing: border-box;
            display: flex;
            margin: 0 auto;
           div{
                text-transform: uppercase;
                color: #383838;
                font-size: 1em;
                font-weight: 700;
                padding: 0 20px;
                line-height: 63px;
                button{
                    font-size: 14px;
                }
           }
        }
        
    }
}

@media (max-width: 570px){
    .menu-container{
        display: none!important;
    }
}


